.square-container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  flex-basis: calc(50% - 10px);
  margin: 5px;
  border: 1px solid;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  display: flex;              
  justify-content: center;     
  align-items: center;        
